<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Haythem Ben Drissia</h3>
      </div>

      <div class="text-center">@haythem-ben-drissia</div>
      <div class="text-center">
        <a href="https://www.linkedin.com/in/haythem-ben-drissia/">www.there.com/Haythem</a>
      </div>
    </div>
  </div>
</div>
